<!-- Top Bar -->
<section id="top-bar" class="p-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4"><i class="fas fa-phone"></i> (886)-912-808752</div>
      <div class="col-md-4">
        <i class="fas fa-envelope-open"></i> charles.ee96@g2.nctu.edu.tw
      </div>
      <div class="col-md-4">
        <div class="social text-right">
          <!-- <a href="#">
            <i class="fab fa-twitter"></i>
          </a> -->
          <a href="https://www.facebook.com/profile.php?id=100000209473307">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="https://www.linkedin.com/in/chialin-liu/">
            <i class="fab fa-linkedin"></i>
          </a>
          <!-- <a href="#">
            <i class="fab fa-instagram"></i>
          </a> -->
          <!-- <a href="#">
            <i class="fab fa-pinterest"></i>
          </a> -->
        </div>
      </div>
    </div>
  </div>
</section>
